{% extends 'base.html' %}

{% block title %}
Форум
{% endblock %}

{% block menu %}
<li class="nav-item">
  <a href="/" class="nav-link-glass activated">
    <img src="/static/home.png" style="margin-right: 5px" />
    Главная
    <span class="nav-indicator"></span>
  </a>
</li>
{% endblock %}

{% block main %}
<main style="margin-top: 10rem;">
  <!-- Аудио элемент -->
  <audio id="clickSound" style="display: none;" preload="auto">
    <source src="/static/sound.mp3" type="audio/mpeg" />
  </audio>

  <script>
    function playSound() {
      const sound = document.getElementById('clickSound')
      if (sound) {
        sound.volume = 0.1
        sound.currentTime = 0
        sound.play().catch((error) => {
          console.log('Звук не воспроизведен:', error)
        })
      }
    }
  </script>
  <div id="posts-container"
    style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; margin-bottom: 15px; padding: 25px; border-radius: 15px; background: rgba(15, 15, 30, 1); width: 95%; max-width: 1400px; margin-left: auto; margin-right: auto;"
    class="mt-5">
    {% if notifications|length > 0 %}
    {% for notification in notifications %}
    <div class="discuss-custom">
      <!-- Контент -->
      <div style="padding: 15px; flex: 1; display: flex; flex-direction: column;">
        <a style="color: white; margin: 0 0 0 0;" class="fw-bold text-decoration-none fs-5"
          href="/post/{{ notification.post_id }}">{{ notice_author.username }}{{ notification.message }}</a>

        <div class="d-flex gap-3 mt-0">
          <p class="text-secondary mb-0" onclick="playSound()">{{ notification.date }}</p>
          <a class="mb-0 link-body-emphasis" onclick="playSound()" href="/user/{{ notice_author.id }}">
            <img src="/static/avatars/{{ notice_author.avatar }}" style="border-radius: 50%; height: 20px; margin-bottom: 0;">
            {{ notice_author.username }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="nav col-auto mb-2 justify-content-center mb-md-0 p-2" style="margin-top: 80px;">
      <p class="display-5 fw-bold"
        style="background: linear-gradient(45deg, #6f42c1, #a855f7, #d946ef); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; font-size: 4rem; user-select: none;">
        У нас пока нету постов :(</p>
    </div>
    {% endif %}
  </div>
{% endblock %}