{% extends 'base.html' %}

{% block title %}
Подтверждение email
{% endblock %}

{% block menu %}
<li class="nav-item">
    <a href="/" class="nav-link-glass activated">
        <img src="/static/home.png" style="margin-right: 5px">
        Главная
        <span class="nav-indicator"></span>
    </a>
</li>
{% endblock %}

{% block main %}
<main style="margin-top: 25px;">
    <div class="nav col-auto mb-2 justify-content-center mb-md-0 p-2" style="margin-top: 80px;">
        <p class="display-5  fw-bold font text-lol">
            Введите ваш 6 значный код!</p>
    <form method="post">
        <input type="text" placeholder="6 значный код" name="code">
        <button type="submit">Подтвердить</button>
    </form>
    </div>
</main>
{% endblock %}